/* Variables */
$light-gray: #d6d6d6;
$gray: #333333;
$dark-gray: #3c3c3c;
$white: #fff;
$gold: #ff9900;
$dark-gold: #bb7100;

$hr-line: 2px solid rgba(0,0,0,0.2);

$font-regular: "Lato Regular", sans-serif; 
$font-bold: bold;
$font-black: "Lato Black", sans serif;
$title-size: 300%;
$pick-size: 133%;
$total-size: 166%;
$total-amount-size: 230%;
$cruise-sailing-title-size: 230%;
$cruise-name-size: 100%;
$sailing-date-size: 133%;
$starting-at-size: 100%;
$starting-at-price-size: 300%;


$italic: italic;
